@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  background: radial-gradient(#f1defc 0%, transparent 200%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glow::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  right: 50%;
  width: 1000px;
  height: 1000px;
  margin-left: -5px;
  background-image: url("/glow.png");
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  z-index: -2;
  opacity: 20%;
}

.grid-lattice::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  transform: translateX(-50%);
  height: 100dvh;
  width: 100dvw;
  background-image: url("/grid.png");
  background-position: center;
  background-size: contain;
  z-index: -2;
  opacity: 20%;
  mask-image: radial-gradient(black, transparent 75%);
}

.links>* {
  padding: 10px 40px;
  border-radius: 10px;
}

.links>a:first-child {
  background: linear-gradient(to bottom right,
      rgba(208, 126, 247, 0.7),
      rgba(250, 20, 58, 0.7));
}

.links>a:last-child {
  border: 1px solid rgba(208, 126, 247, 0.5);
}
