@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    color: #f1defc;
  }

  body {
    @apply bg-background text-text;
    background: #080609;
    color: #f1defc;
  }
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  background: radial-gradient(#f1defc 0%, transparent 200%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glow::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  right: 50%;
  width: 1000px;
  height: 1000px;
  margin-left: -5px;
  background-image: url("/glow.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: -2;
  opacity: 20%;
}

.grid-lattice::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  transform: translateX(-50%);
  height: 100dvh;
  width: 100dvw;
  background-image: url("/grid.png");
  background-position: center;
  background-size: contain;
  z-index: -2;
  opacity: 20%;
  mask-image: radial-gradient(black, transparent 60%);
}

@media only screen and (max-width: 600px) {
  .glow::after {
    width: 400px;
  }

  .grid-lattice::after {
    top: -20%;
  }
}

.links>* {
  padding: 10px 40px;
  border-radius: 10px;
}

.links>a:first-child {
  background: linear-gradient(to bottom right,
      rgba(208, 126, 247, 0.7),
      rgba(250, 20, 58, 0.7));
}

.links>a:last-child {
  border: 1px solid rgba(208, 126, 247, 0.5);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  border: 0.5px solid rgba(208, 126, 247, 0.1);
}

*::-webkit-scrollbar-thumb {
  background: rgba(208, 126, 247, 0.1);

  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(208, 126, 247, 0.2);
}
